################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoJani/.vs
/DemoJani/DemoJani/bin/Debug/netcoreapp1.1
/DemoJani/DemoJani/obj
/DemoJani/DemoJani/obj
/DemoJani/DemoJani/obj
/DemoJani/DemoJani/obj
