<html>
<head>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>
<body>
</html>


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            color: red;
            h2

        {
            font-size: 110x
        }
    </style>
</head>

<div style="width:140%;">


    <div style="float:right; width:50%; margin-right:30px;">

        <img src="~/images/hondaaccord.gif" alt="Visual Studio" class="img-responsive" />

    </div>





<!DOCTYPE html>
<html>
<body>

    <video width="500" height="500" controls>
        <source src="~/images/2018 Honda Odyssey Paper Town.mp4" type="video/mp4">
    </video>
</body>
</html>


</div>

</div>










